*{
  
    margin: 0;
    font-family: "NothingYouCouldDo";
}


.header{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
grid-template-rows: 55px;
background-color: #121618; 
}

.titletext{
    color: rgb(255, 255, 255);
}

.logoimg{
    height: 25px;
    width: 25px;
  padding-left: 5px;
}

.lista{
    list-style: none;
    display: flex;
    grid-column: 6/6;
 padding-right: 20px;
 padding-top: 20px;
    
} 

.elementoul{
    padding-left: 27px;
}

.as{
    color: rgb(255, 255, 255);
    text-decoration: none;  
    font-weight: bold;
}

.title h3{
    padding-left: 15px;
    padding-top: 15px;

}

.header a:hover{
    color: #FAC564;
}


.corpodosite{
    display: grid;
    grid-template-columns: 2.5fr 2fr;
    grid-template-rows: 850px;
    background-image: url(wood-floor-background-wl3vty8w87fpi887.jpg);
  
}

.abc{
    font-weight: bold;
}

.end{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px;
    background-color: #3b2424;
}

.socialmedias{
    grid-column: 3/3;
    background-color: #3b2424;

}

.pizza{
    grid-column: 2/2;
    padding-top: 80px;
  
}

.texto{
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 320px;
    padding-left: 380px;
}

.btn{
    width: 120px;
    height: 60px;
    border-radius: 50px;
    background-color: black;
}

.txtdobtn{
   color: rgb(255, 255, 255);
    text-decoration: none;  
    font-weight: bold;
}
.tlt{
   display: flex;
   padding-top: 10px;
   grid-column: 1/1;
   padding-left: 200px;
   
}

.location{
    display: flex;
   padding-top: 10px;
   grid-column: 2/2;
   padding-left: 200px;
}

.hrfuncionamento{
    display: flex;
    padding-top: 10px;
    grid-column: 3/3;
    padding-left: 200px;
}

.elementosvg{
    width: 20px;
    height: 20px;
   
}

.hs{
    padding-left: 20px;
}

.bandeirait{
    display: grid;
    grid-column: 1fr 1fr 1fr;
    grid-template-rows: 20px;
}

.primeiraparte{
    background-color: greenyellow;
    grid-column: 1/1;
    grid-template-rows: 4/4;
    
}

.secparte{
    background-color: rgb(255, 255, 255);
    grid-column: 2/2;
}

.terceiraparte{
    background-color: red;
    grid-column: 3/3;
}

